// Put your custom SCSS code here
@import "hugo:vars";

.svg-light {
  display: none;

  [data-bs-theme="light"] & {
    display: block;
  }
}

.svg-dark {
  display: none;

  [data-bs-theme="dark"] & {
    display: block;
  }
}

.home {
  //Preload profile images
  body::after {
    content: "";
    background:
      url($profile-bg-img-url) no-repeat -9999px -9999px,
      url($profile-bg-img-url-dark) no-repeat -9999px -9999px;
    display: none;
  }

  .content {
    height: 50vh;

    .profile-bg-img {
      width: 100%;
      height: 45vh;
      position: absolute;
      z-index: -1000;
      right: 0;

      background: url($profile-bg-img-url) no-repeat top right;
      background-size: contain;
      @media (max-width: 890px) {
        background: none;
      }

      [data-bs-theme="dark"] & {
        background: url($profile-bg-img-url-dark) no-repeat top right;
        background-size: contain;
        @media (max-width: 890px) {
          background: none;
        }
      }
    }

    .greeting-section {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: inherit;

      .lead {
        [data-bs-theme="dark"] & {
          color: white;
        }
      }
    }
  }

  .about-me {
    .subtitle {
      display: flex;
      align-items: center;

      p {
        text-shadow: 0px 0px 10px #5fc92c, 0px 0px 30px black;
        [data-bs-theme="dark"] & {
          text-shadow: 0px 0px 10px #b72cc9, 0px 0px 20px white;
        }
      }

      img {
        margin-bottom: 1rem;
        height: 32px;
        margin-left: 5px;
      }
    }

    .description {
      max-width: 90vh;
    }

    .tech-stack {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      margin-top: 1rem;
      svg {
        height: 50px;
        width: 50px;
      }
    }
  }
}

.blog {
  .content {
    min-height: 85vh;
  }
}

// Blog post images
.img-post-list-container {
  height:  15px;
}

.img-post-single-container {
  height: 220px;
  .img-post-single {
    height: 185px;
  }
}

.color-card-header {
  background: linear-gradient(83.21deg, var(--sl-color-accent) 0%, var(--sl-color-green) 100%);
}

.footer {
  svg {
    height: 20px;
    width: 80px;
  }
}
