{{ define "main" }}
  {{ $profile_img := "" }}
  {{ with resources.Get "images/profile-bw-1.png" }}
    {{ with .Fill "800x700 webp" }}
      {{ $profile_img = .RelPermalink }}
    {{ end }}
  {{ end }}
  <div class="profile-bg-img"></div>
  <section class="greeting-section pt-n3 pb-3 container-fluid">
    <div class="m-3">
      <p>Software Engineer</p>
      <h1>Nico Rossi</h1>
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
    </div>
  </section>
{{ end }}

{{ define "sidebar-prefooter" }}
  {{ if site.Params.doks.backgroundDots -}}
  <div class="d-flex justify-content-start">
    <div class="bg-dots"></div>
  </div>
  {{ end -}}
  <section class="section section-md section-features">
    <div class="container">
      <h4>About me</h4>
    </div>
  </section>
{{ end }}

{{ define "sidebar-footer" }}
{{ if site.Params.doks.sectionFooter -}}
<section class="section section-md container-fluid bg-light">
  <div class="row justify-content-center text-center">
    <div class="col-lg-7">
      <h2 class="mt-2">Start building with Doks today</h2>
      <a class="btn btn-primary rounded-pill px-4 my-2" href="/docs/{{ if site.Params.doks.docsVersioning }}{{ site.Params.doks.docsVersion }}/{{ end }}prologue/introduction/" role="button">{{ i18n "get-started" }}</a>
    </div>
  </div>
</section>
{{ end -}}
{{ end }}
